.font-family{
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap');
}
.logo{
    display: flex;
}
.nav{
    display: flex;
    
align-items: center;
gap: 186;
padding: 0px;
margin: 10px 0px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}
.nav-item{
    text-decoration: none;
}
.nav-btn{
    align-items: end;
    text-align: end;
   gap: 500px;
}
.hero{
    display: flex;
    padding: 20px 20px 20px 20px  ;
}
.h-1kids{
    font-size: 56px;
font-weight: 700;
line-height: 61px;
}
.kids-p{
    font-size: 20px;
font-weight: 400;
line-height: 25px;
}
.kids-btn{
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
    color: rgb(255, 255, 255);

background: rgb(17, 17, 17);
}
.span-1{
    color: rgb(254, 163, 1);;
}
.span-2{
    color:  rgb(1, 172, 253);;
} 
/* responsive */
@media screen and (max-width: 556px) {
    .hero-kids , .hero-img
    {
        flex-direction: column;
    }
}
/* kinder */
.kinder{
   padding-right:10px ;
    text-align: center;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 18.86px
    
}
.kinder-btn{
    color: rgb(100, 200, 255);
    border: none;
    background-color:white;
}

.Standard{
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.elementary{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    border-radius: 19px;

}
.elementary-btn{
    background-color: white;
    border: none;
    color: rgb(240, 170, 0);
}   
.middle{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 19px;
    align-items: center;
    text-align: center;

}
.middle-btn{
    border: none;
    background-color: white;
    color: rgb(135, 0, 255);
}
/* responsive */
.Standard-curriculum {
    
  
    
}
.Standard{
   
}
.Our-stories{
    margin: 50px auto;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0 , 0, 0 ,0.1);
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
}
.Stories-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
}
.date{
    display: inline-block;
    padding: 5px 10px ;
    font-size: 15px;
    border-radius: 10px;
    color: white;
}
.story-img{
    width: 100%;
    border-radius: 8px;
}
.date-blue{
    background: #3b82f6;
}
.date-yellow{
    background: #facc15;
}
.date-green{
    background: #22c55e;

}
.light-green{
    background: #84cc16;
}
.veiw-all{
    padding: 10px 20px ;
    color: white;
    border: none;
    border-radius: 5px;
 background: black;
 align-items: center;
 text-align: center;
 justify-content: end;
}
@media (maxwidth:768px) {
   .Stories-container{
    grid-template-columns: 1fr;
   } 
}
.footer-logo{ 
    display: flex;
}
.footer-ul{
    text-decoration: none;
}
.footer-img
{
    display: flex;
}
.FOOTER{
    justify-content: space-between;
    display: flex;
    background: rgb(1, 172, 253);
}